@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AppSettings</h1>
</div>

<div class="row">
    <div class="col-6">
        <p>SendGrid from controller</p>
        <p>@ViewBag.SendGridKey</p>
    </div>
    <div class="col-6">
        <p>Auth from controller</p>
        <p>@ViewBag.SectretKey</p>
        <p>@ViewBag.PublicKey</p>
        <p>@ViewBag.PhoneNumber</p>
        <hr />
        <p>Auth Injected</p>
        <p>@configuration.GetSection("Auth:SectretKey").Value</p>
        <p>@configuration.GetSection("Auth:PublicKey").Value</p>
        <hr />
        <p>Auth from controller With IOption</p>
        <p>@ViewBag.SectretKey</p>
        <p>@ViewBag.PublicKey</p>
        <p>@ViewBag.PhoneNumber</p>
    </div>
</div>